$background: #f0efec;
$pink: #EF476F;
$yellow: #FFE066;
$green: #06D6A0;
$blue: #118AB2;
$white: #ffffff;
$default_text: #333;

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
      clear: both;
  }
}

@mixin base-transition() {
  transition: all .3s ease-in-out;
}

body, html {
  background: $background;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  font-size: 14px;
  color: $default_text;
}

body {
  background: url(https://source.unsplash.com/collection/579306) no-repeat center center fixed; 
  background-size: cover;
}

p {
  font-family: 'Raleway', sans-serif;
  line-height: 16px;
  margin: 0;
  margin-bottom: 5px;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.center-content {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.row {
  @extend %clearfix;
}

.viewport {
  width: 600px;
  height: 400px;
}

/* line 20, ../sass/phone/_viewport.scss */
#result-strip {
  margin-top: 5px;
  padding-top: 5px;
}
/* line 24, ../sass/phone/_viewport.scss */
#result-strip ul.thumbnails > li {
  width: 150px;
}
/* line 27, ../sass/phone/_viewport.scss */
#result-strip ul.thumbnails > li .thumbnail .imgWrapper {
  width: 130px;
  height: 130px;
  overflow: hidden;
}
/* line 31, ../sass/phone/_viewport.scss */
#result-strip ul.thumbnails > li .thumbnail .imgWrapper img {
  margin-top: -25px;
  width: 130px;
  height: 180px;
}
